@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 10 10 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 10 10 10;
    --fg: 245 245 245;
  }
}

html, body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}
